* {
    box-sizing: border-box;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
}

.card {
    background-color: gray;
    text-align: center;
}